html {
  margin: 0;
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: white;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 120%;
  color: black;
  margin: auto;
  max-width: 50rem;
  background-color: white;
  padding: 2rem;
}
body .title {
  text-align: center;
  font-size: 2.5rem;
  padding: 0.5rem 0 0.5rem 0;
  line-height: 2rem;
}
body .subtitle {
  font-size: 1.3rem;
  font-weight: normal;
  color: #999;
}

h1 {
  font-size: 2.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1rem;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0rem;
}

h3 {
  font-size: 1.3rem;
  padding-top: 0rem;
  margin-top: 2.0rem;
  margin-bottom: 0rem;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #0366d6;
}
a:visited {
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}

.todo {
  color: #ca0000;
}

.done {
  color: #006666;
}

.timestamp-kwd {
  color: #444;
}

.tag {
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

tr:nth-child(odd) {
  background: #ffffff;
}

code {
  font-size: 100%;
  color: black;
  border-radius: 0.3rem;
  padding: 0.1rem 0.2rem;
  background-color: #dedede;
}

.src {
  overflow: auto;
  padding: 0.5rem;
}

img {
  border: none;
}

.share img {
  opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
}

.share img:hover {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

pre {
  color: black;
  background-color: #ffffff;
  padding: 1rem;
  border: 2px solid #dddddd;
  overflow: auto;
}

.builtin {
  /* font-lock-builtin-face */
  color: #f4a460;
}
.comment {
  /* font-lock-comment-face */
  color: #737373;
}
.comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #666666;
}
.constant {
  /* font-lock-constant-face */
  color: #db7093;
}
.doc {
  /* font-lock-doc-face */
  color: #b3b3b3;
}
.function-name {
  /* font-lock-function-name-face */
  color: #5f9ea0;
}
.headline {
  /* headline-face */
  color: #ffffff;
  background-color: #000000;
  font-weight: bold;
}
.keyword {
  /* font-lock-keyword-face */
  color: #4682b4;
}
.negation-char {
}
.regexp-grouping-backslash {
}
.regexp-grouping-construct {
}
.string {
  /* font-lock-string-face */
  color: #ccc79a;
}
.todo-comment {
  /* todo-comment-face */
  color: #ffffff;
  background-color: #000000;
  font-weight: bold;
}
.variable-name {
  /* font-lock-variable-name-face */
  color: #ff6a6a;
}
.warning {
  /* font-lock-warning-face */
  color: #ffffff;
  background-color: #cd5c5c;
  font-weight: bold;
}
pre.a {
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: inherit;
}
pre.a:hover {
  text-decoration: underline;
}

#postamble {
  opacity: 0.8;
  padding-top: 1rem;
  line-height: 50%;
}

.footnotes {
  font-size: 1.1rem;
  border-top: 1px solid #ddd;
  border-bottom: 0;
  margin-block-end: 0.5rem;
}

.footpara {
  display: inline;
  padding-left: 0;
}
